* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --text-color: #fff;
  --bg-color: #000;
  --main-color: #ffa343;

  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}