@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-main: "Poppins", sans-serif;
  --clr-white: #ecf0f1;
  --clr-red: #fc036b;
  --clr--light:#ff5a95;
  --clr-dark: #484872;
  --clr-p: #7c7c7c;
  --transition: all 0.3s ease;
}

body {
  /* font-family: var(--ff-main); */
  overflow-x: hidden;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.active {
  color: var(--clr-red);
  text-decoration: underline;
  font-weight: bold;
}

.ctn {
  padding: 10px 25px;
  background: var(--clr-red);
  border-radius: 30px;
  color: var(--clr-white);
  font-weight: 400;
  display: inline-block;
  transition: var(--transition);
  font-family: var(--ff-main);
}

.ctn:hover {
  background: var(--clr-white);
  color: var(--clr-red);
  box-shadow: 2px 2px 5px var(--clr-dark);
  transform: scale(1.05);
}

img {
  transition: var(--transition);
}

img:hover {
  transform: scale(1.1);
}

/* ----------------------------------------------- */
.navbar {
  font-family: var(--ff-main);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: var(--clr-white);
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.nav-links li {
  margin: 0 20px;
}

.nav-links li a:hover {
  color: var(--clr-red);
  transition: var(--transition);
}

/* ------------------------------------------------ */
header {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/header-bg.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header-content {
  margin-bottom: 150px;
  color: var(--clr-white);
  text-align: center;
}

.header-content h2 {
  font-size: 4vmin;
  font-weight: 400;
}

.line {
  width: 150px;
  height: 4px;
  background: var(--clr-red);
  margin: 10px auto;
  border-radius: 5px;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 40px;
  margin-bottom: 30px;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  cursor: pointer;
  z-index: 11;
  display: none;
}

section {
  width: 80%;
  margin: 80px auto;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: rgb(73, 73, 126);
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col img {
  border-radius: 5px;
}

.events .row {
  margin-top: 50px;
}

h4 {
  font-size: 3vmin;
  color: var(--clr-dark);
  margin: 20px auto;
}

p {
  color: var(--clr-p);
  padding: 0px 40px;
}

.events .ctn {
  margin-top: 30px;
}

.explore {
  width: 100%;
  height: 80vh;
  background-image: url('./img/bg2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.explore-content {
  width: 60%;
  padding: 50px;
  color: var(--clr-white);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.explore-content h1 {
  font-size: 7vmin;
}

.explore-content .line {
  margin-bottom: 50px;
}

.explore-content p {
  color: #c8cacb;
}

.explore-content .ctn {
  margin-top: 40px;
}

.content-col {
  width: 40%;
}

.image-col {
  width: 60%;
}

.tours .image-gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.image-gallery img {
  max-width: 300px;
  margin: 10px;
}

.content-col h1 {
  font-size: 7vmin;
  color: var(--clr-dark);
}

.content-col .line {
  margin-left: -1px;
}

.content-col p {
  padding: 0;
  margin: 30px auto;
}

.content-col .ctn {
  margin-left: -100px;
}

.footer {
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  margin: 0;
  background: var(--clr-dark);
  text-align: center;
}

.footer p {
  color: var(--clr-white);
  margin: 20px auto;
}

/* ---------------------------------------------------- */

@media only screen and (max-width: 850px) {
  .navbar {
    padding: 0;
  }

  .logo {
    position: absolute;
    top: 25px;
    left: 30px;
  }

  .menu-btn {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    margin-top: -100vh;
    transition: var(--transition);
  }

  .nav-links.mobile-menu {
    margin-top: 0;
    border-bottom-right-radius: 30%;
  }

  .nav-links li {
    margin: 25px auto;
  }

  .row {
    flex-direction: column;
  }

  .row .col{
    margin: 20px auto;
  } 

  .col img {
    max-width: 90%;
  }

  .explore-content {
    width: 100%;
  }

  .tours .col {
    justify-content: center;
    align-items: center;
  }

  .image-gallery img {
    width: 90%;
  }

  .footer {
    padding: 10px;
  }
}
