* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9b9b9b;
    line-height: 3.8;
    text-transform: uppercase;
    font-weight: bold;
}
footer {
      display: flex;
      flex-flow: row wrap;
      padding: 50px;
      color: #fff;
      background-color: #011c39;
}
footer > * {
    flex: 1 100%;
}
.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}
.socials a {
    background: #011c39;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i {
    display: flex;
    justify-content: center;
    color: #ecf1f8;
    padding: 6px 5px;
    font-size: 30px;
}

.socials a i:hover {
    color: #011c39;
    background: #ecf1f8;
}
@media (max-width:600px) {
    .footer {
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}